In [13]:
import os 
import pandas as pd
import matplotlib.pyplot as plt
from pathlib import Path

In [15]:
data_folder = Path(r'/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1'
)
for csv_path in sorted(data_folder.glob('*.csv')):
    print(csv_path)
    try:
        df = pd.read_csv(csv_path, nrows=0)
    except Exception as e:
        print('  failed to read:', e)

/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1/Audi.csv
/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1/BMW.csv
/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1/Ford.csv
/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1/Honda.csv
/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1/Hyundai.csv
/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1/Kia.csv
/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1/Maruti.csv
/Users/fercorreafort/Projects/Outlier_detection git/Tests/data_1/Toyota.csv

In [21]:
# Load all CSVs in the data folder into a dict keyed by filename (stem)
data_frames = {}
for csv_path in sorted(data_folder.glob('*.csv')):
    try:
        df = pd.read_csv(csv_path)
        key = csv_path.stem
        data_frames[key] = df
    except Exception as e:
        print(f'Failed to read {csv_path}: {e}')

# Show which frames were loaded
list(data_frames.keys())

['Audi', 'BMW', 'Ford', 'Honda', 'Hyundai', 'Kia', 'Maruti', 'Toyota']

In [25]:

for brand, df in data_frames.items():
   print("="*50)
   print(brand)
   print("="*50)
   print(df.isna().sum())

==================================================
Audi
==================================================
Unnamed: 0       0
Brand            0
ModelYear        0
EngineSize       0
HP              63
Mileage         69
FuelType        57
Transmission     0
Seats            0
OwnerCount       0
Price            0
dtype: int64
==================================================
BMW
==================================================
Unnamed: 0       0
Brand            0
ModelYear        0
EngineSize       0
Horsepower      69
Miles           58
FuelType        62
Transmission     0
Seats            0
OwnerCount       0
Price            0
dtype: int64
==================================================
Ford
==================================================
Unnamed: 0       0
Brand            0
ModelYear        0
EngineSize       0
Horsepower      64
Mileage         66
FuelType        64
Transmission     0
Seats            0
OwnerCount       0
Price            0
dtype: int64
==================================================
Honda
==================================================
Unnamed: 0       0
Brand            0
ModelYear        0
EngineSize       0
Horsepower      67
Mileage         60
FuelType        62
Transmission     0
Seats            0
NumOwners        0
Price            0
dtype: int64
==================================================
Hyundai
==================================================
Unnamed: 0       0
Brand            0
ModelYear        0
EngineSize       0
Horsepower      65
Mileage         66
FuelType        58
Transmission     0
Seats            0
OwnerCount       0
Price            0
dtype: int64
==================================================
Kia
==================================================
Unnamed: 0     0
Brand          0
ModelYear      0
EngineSize     0
Horsepower    58
Mileage       53
FuelType      76
Gearbox        0
Seats          0
OwnerCount     0
Price          0
dtype: int64
==================================================
Maruti
==================================================
Unnamed: 0       0
Brand            0
ModelYear        0
EngineSize       0
Horsepower      60
Mileage         61
FuelType        65
Transmission     0
SeatCount        0
OwnerCount       0
Price            0
dtype: int64
==================================================
Toyota
==================================================
Unnamed: 0       0
Brand            0
ModelYear        0
EngineSize       0
Horsepower      54
Mileage         67
FuelType        56
Transmission     0
Seats            0
OwnerCount       0
Price            0
dtype: int64